.soft{
    background: #fff6de;
}

.red {
    background: #FF0000 url('images/red-bg.jpg') repeat-x;
}

.yellow {
    background: #FFFF00 url('images/yellow-bg.jpg') repeat-x;
}

.green {
    background: #00FF00 url('images/green-bg.jpg') repeat-x;
}

.white {
    background: #FFFFFF;
}

.border {
    border: 1px solid #996666;
}

.top {
   // -webkit-border-top-left-radius: 5px;
   // -webkit-border-top-right-radius: 5px;
   // -moz-border-radius-topleft: 5px;
   // -moz-border-radius-topright: 5px;
   // border-top-left-radius: 5px;
   // border-top-right-radius: 5px;
}

.menu {
    position: relative;
    float: left;
    background: #FFFFCC;
    margin: 0px;
    padding: 5px;
    border: 1px solid black;
}

.shadow {
    -moz-box-shadow: 2px 2px 2px #555530;
    -webkit-box-shadow: 2px 2px 7px #777744;
    box-shadow: 2px 2px 7px #222200;
}

.space {
    padding: 10px;
}

.content {
//    position: relative;
//    width: 835px;
//    margin: auto;
}

.fixed {
    height: 200px;
    overflow: auto;
}

.time {
    width: 150px;
    background: #AA3333;
    color: white;
    font-size: 24px;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 24px;
}


hr {
    border: none;
    border-top: 1px solid #aeaeae;
    margin-top: 2px;
    margin-bottom: 5px;
}